*,
*:after,
*:before {
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #73b9ff;
}

.App {
	width: 90%;
	height: 100px;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 3px 1px #ccc;
	flex-direction: column;
}

@media screen and (max-width: 767px) {
	.select-control {
		display: block !important;
	}
	.segmented-control {
		display: none !important;
	}
}
